
.list-view {-fx-background-insets: 0; -fx-padding: 0;}
.list-view .list-cell {
    -fx-background-color: #777777;
    -fx-font-size:15.0;
}
.list-view .list-cell:selected{
    -fx-background-color: black;
    -fx-text-fill: yellow;
}

.scroll-pane  {-fx-background-insets: 0; -fx-padding: 0; }
.scroll-pane .viewport  { -fx-background-color:  #777777; }


